<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>SpotJobs</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.spotjobs.mobile</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>GADApplicationIdentifier</key>
	<string>ca-app-pub-5502345004497283~5003404340</string>
	<key>LSApplicationCategoryType</key>
	<string></string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>googlechromes</string>
		<string>comgooglemaps</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
		<key>NSExceptionDomains</key>
		<dict>
			<key>localhost</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSAppleMusicUsageDescription</key>
	<string>${PRODUCT_NAME} would like to use your music library</string>
	<key>NSBluetoothAlwaysUsageDescription</key>
	<string>${PRODUCT_NAME} would like to use your bluetooth connection description</string>
	<key>NSBluetoothPeripheralUsageDescription</key>
	<string>${PRODUCT_NAME} would like to use your bluetooth connection</string>
	<key>NSCalendarsUsageDescription</key>
	<string>${PRODUCT_NAME} would like to use your google event calendar to add events about your scheduled appointments</string>
	<key>NSCameraUsageDescription</key>
	<string>${PRODUCT_NAME} would like to access your photo gallery/ camera/ videos for your profile photos and job posting upload.</string>
	<key>NSContactsUsageDescription</key>
	<string>${PRODUCT_NAME} would like to access your contacts to let you choose a friend who you can send email to. ( I think we do not need that one)</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>${PRODUCT_NAME} would like to use your current location to display it on the app, also for directions and estimation of your travel times. It is secure and private.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>${PRODUCT_NAME} would like to use your current location to display it on the app, also for directions and estimation of your travel times. It is secure and private.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>${PRODUCT_NAME} would like to your microphone for send voice messages</string>
	<key>NSMotionUsageDescription</key>
	<string>${PRODUCT_NAME} would like to use your motion description</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>${PRODUCT_NAME} would like to save photos to your photo gallery to add ability download images from app</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>${PRODUCT_NAME} would like to access your photo gallery/ camera/ videos for your profile setup and job posting upload.</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>${PRODUCT_NAME} would like to use your speech recognition</string>
	<key>UIAppFonts</key>
	<array>
		<string>AntDesign.ttf</string>
		<string>Entypo.ttf</string>
		<string>EvilIcons.ttf</string>
		<string>Feather.ttf</string>
		<string>FontAwesome.ttf</string>
		<string>FontAwesome5_Brands.ttf</string>
		<string>FontAwesome5_Regular.ttf</string>
		<string>FontAwesome5_Solid.ttf</string>
		<string>Foundation.ttf</string>
		<string>Ionicons.ttf</string>
		<string>MaterialCommunityIcons.ttf</string>
		<string>MaterialIcons.ttf</string>
		<string>Octicons.ttf</string>
		<string>SimpleLineIcons.ttf</string>
		<string>Zocial.ttf</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
